<meta charset="utf-8" /> 

<div style="overflow:hidden;">
	<header class="header" id="header"><!--header-start-->
		<div class="container">
				<div class="about-box animated fadeInUp">
					<section class="main-section team" id="team">
						<div class="container">
					        <h2>Team</h2>
					        <h6>Take a closer look into our amazing team. We might be small, but we are mean.</h6>
					        <div class="team-leader-block clearfix">
					            <div class="team-leader-box col-sm-offset-2">
					                <div class="team-leader wow fadeInDown delay-03s">
					                    <img src="../../../assets/img/suca.png" alt="">
					                </div>
					                <h3 class="wow fadeInDown delay-03s">Dejan Urošević</h3>
					                <span class="wow fadeInDown delay-03s">Developer and Product Owner</span>
										<ul class="social-link">
											<li class="facebook"><a href="https://www.facebook.com/dejan.urosevic.79?fref=ts"> <i class="fa fa-facebook" aria-hidden="true"></i></a> </li>
						                    <li class="pinterest"><a href="https://github.com/DejanUrosevic"><i class="fa fa-github"></i></a></li>
						                    <li class="gplus"><a href="mailto:dejansuca@gmail.com" ><i class="fa fa-envelope"></i></a></li>
						                </ul>
					            </div>
					            <div class="team-leader-box">
					                <div class="team-leader  wow fadeInDown delay-06s">
					                    <img src="../../../assets/img/marko.png" alt="">
					                </div>
					                <h3 class="wow fadeInDown delay-06s">Marko Striško</h3>
					                <span class="wow fadeInDown delay-06s">Developer and Product Owner</span>
										<ul class="social-link">
											<li class="facebook"><a href="https://www.facebook.com/marko.strisko.7"> <i class="fa fa-facebook" aria-hidden="true"></i></a> </li>
						                    <li class="pinterest"><a href="https://github.com/for3v3rInFriendZone"><i class="fa fa-github"></i></a></li>
						                    <li class="gplus"><a href="mailto:strile93@gmail.com" ><i class="fa fa-envelope"></i></a></li>
						                </ul>
					            </div>
					        </div>
					    </div>
					</section>
					<section class="business-talking">
						<div class="container">
					        <h2>Let’s Talk Business.</h2>
					    </div>
					</section>
					<section class="main-section contact" id="contact">
				        <div class="row">
				        	<div class="col-lg-6 col-sm-7 wow fadeInLeft">
				                <div class="contact-info-box email clearfix">
				                	<h3><i class="fa-pencil"></i>email:</h3>
				                	<span>MiNuSGroup2017@gmail.com</span>
				                </div>
				                <ul class="social-link">
				                    <li class="facebook"><a href="https://github.com/for3v3rInFriendZone/MiNuS"><i class="fa fa-github"></i></a></li>
				                </ul>
				            </div>
				        	<div class="col-lg-6 col-sm-5 wow fadeInUp delay-05s">
				            	<div class="form">
				                	<input class="input-text" type="text" name="" value="Your Name *" onfocus="if(this.value==this.defaultValue)this.value='';" onblur="if(this.value=='')this.value=this.defaultValue;">
				                    <input class="input-text" type="text" name="" value="Your E-mail *" onfocus="if(this.value==this.defaultValue)this.value='';" onblur="if(this.value=='')this.value=this.defaultValue;">
				                	<textarea class="input-text text-area" cols="0" rows="0" onfocus="if(this.value==this.defaultValue)this.value='';" onblur="if(this.value=='')this.value=this.defaultValue;">Your Message *</textarea>
				                    <input class="input-btn" type="submit" value="send message">
				                </div>
				            </div>
				        </div>
					</section>
				</div>
		</div>
	</header>
</div>
	