<meta charset="utf-8" />

<header class="header" id="header">
	<!--header-start-->
	<div class="container">
		<div class="row">
			<div class="col-sm-10 col-sm-offset-1 toppad">
				<div class="about-box animated fadeInUp">
				<br />
				<br />
				<br />
				<div class="panel-primary panel-heading">
					<h3 class="panel-title">Hello and welcome</h3>
				</div>
				<div class="panel-body">
					<div class="row">
						<table class="table table-user-information">
							<tbody>
								<tr>
									<td><b>Firstname: </b></td>
									<td>asdasdas</td>
								</tr>
								<tr>
									<td><b>Lastname: </b></td>
									<td>qwdwqdqw</td>
								</tr>
								<tr>
									<td><b>Username: </b></td>
									<td>dwqdqw</td>
								</tr>
								<tr>
									<td><b>Type: </b></td>
									<td>wqdwqd</td>
								</tr>
								<td><b>Category: </b></td>
								<td>dwqdqwqd</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="panel-footer">
					<div class="text-center">
						<button type="button" class="btn btn-sm btn-warning" data-toggle="tooltip" data-placement="bottom" title="Edit"><i class="fa fa-pencil"></i></button>
						<button type="button" class="btn btn-sm btn-info" data-toggle="tooltip" data-placement="bottom" title="Go"><i class="fa fa-arrow"></i></button>
					</div>
				</div>
			</div>
			</div>
		</div>
	</div>
</header>