<nav class="main-nav-outer" id="test"><!--main-nav-start-->
		<div class="container">
	        <ul class="main-nav">
	        	<li style="font-size: 26px; padding-right: 520px;" ng-click="nbc.toHome()"><span style="color:lightblue;">M</span>i<span style="color: yellow;">N</span>u<span style="color: green;"><i class="fa fa-usd" aria-hidden="true"></i></span></li>
	            <li><a ng-class="{active: nbc.isActive('main.login')}" ui-sref="main.login">Sign in <i class="fa fa-sign-in" aria-hidden="true"></i></a></li>
	            <li><a ng-class="{active: nbc.isActive('main.signup')}" ui-sref="main.signup">Sign up <i class="fa fa-user-plus" aria-hidden="true"></i></a></li>
	            <li><a ng-class="{active: nbc.isActive('main.about')}" ui-sref="main.about">Who are we <i class="fa fa-question" aria-hidden="true"></i></a></li>
	        </ul>
	    </div>
</nav><!--main-nav-end-->