<div style="overflow:hidden;">
	<header class="header" id="header"><!--header-start-->
		<div class="container">
	    	<figure class="logo animated fadeInDown delay-07s">
	        	<img src="../../../assets/img/logo.png" alt="">
	        </figure>
	        <h1 class="animated fadeInDown delay-07s">Welcome To <span style="color:lightblue;">M</span>i<span style="color: yellow;">N</span>u<span style="color: green;"><i class="fa fa-usd" aria-hidden="true"></i></span></h1>
	        <ul class="we-create animated fadeInUp delay-1s">
	        	<li>We are making logs on what You have been spending your money.</li>
	        </ul>
	            <p class="animated fadeInDown delay-09s">You look familiar?! <a class="linkHover" ui-sref="main.login"> Sign in </a> </p>
	            <p class="animated fadeInDown delay-09s">You seem like someone who would be interested to use our services. <a class="linkHover" ui-sref="main.signup">Join us </a> </p>
	            <p class="animated fadeInDown delay-09s">Who the hell are we? <a class="linkHover" ui-sref="main.about"> Find out </a> </p>
	    </div>
	</header><!--header-end-->
</div>