<div style="overflow:hidden;">
	<header class="header" id="header"><!--header-start-->
		<div class="container">
				<div class="login-box animated fadeInUp">
					<div class="box-header">
						<h2>Log In</h2>
					</div>
					<label for="username">Username</label>
					<br/>
					<input type="text" id="username" size="30">
					<br/>
					<label for="password">Password</label>
					<br/>
					<input type="password" id="password" size="30">
					<br/>
					<button type="submit">Sign In</button>
					<br/>
				</div>
		</div>
	</header>
</div>
