<div style="overflow:hidden;">
	<header class="header" id="header"><!--header-start-->
		<div class="container">
			<form class="state-form form-horizontal" name="lgc.form" ng-submit="lgc.submitLoginForm()" novalidate>
				<div class="login-box animated fadeInUp">
					<div class="box-header">
						<h2>Log In</h2>
					</div>
					<label for="username">Username</label>
					<br/>
					<input type="text" id="username" size="30" ng-model="lgc.username" required>
					<br/>
					<label for="password">Password</label>
					<br/>
					<input type="password" id="password" size="30" ng-model="lgc.password" required>
					<br/>
					<button type="submit">Sign In</button>
					<br/>
				</div>
			</form>
		</div>
	</header>
</div>
