<nav class="main-nav-outer" id="test"><!--main-nav-start-->
		<div class="container">
			<div class="row">
			     <ul class="main-nav">
			         <li style="font-size: 26px; padding-right: 520px;"><span style="color:lightblue;">M</span>i<span style="color: #cccc00;">N</span>u<span style="color: green;"><i class="fa fa-usd" aria-hidden="true"></i></span></li>
			         <li><a ui-sref="main.signup"> <i> {{umc.user.firstname}}</i> </a></li>
			         <li><a ng-click="umc.signout()">Sign out <i class="fa fa-sign-out" aria-hidden="true"></i></a></li>
			     </ul>
		    </div>
	    </div>
</nav><!--main-nav-end-->