<meta charset="utf-8" /> 

<div style="overflow:hidden;">
	<header class="header" id="header"><!--header-start-->
		<div class="container">
				<div class="about-box animated fadeInUp">
					<br/><br/>
					<h1 style="color:black;"> Congratulation <u>{{acc.user.username}}</u> </h1>
					<hr class="style-two"/>
					<section class="main-section team" id="team">
						<h3> You have been successfully activated your account. </h3> 
						<p> You can now <a ui-sref="main.login">log in </a> and start using our service. Have a great day.</p> 
					</section>
				</div>
		</div>
	</header>
</div>
	