<meta charset="utf-8" /> 

<div style="overflow:hidden;">
	<header class="header" id="header"><!--header-start-->
		<div class="container">
				<div class="about-box animated fadeInUp">
					<section class="main-section team" id="team">
						<h1 style="color:black;"> E-mail confirmation </h1>
						<hr class="style-two"/> <br/><br/>
						
						<h3> You have been successfully signed up. </h3> 
						<p> Only one more step is required. </p>
						<p> Go to your e-mail account and click on the link we sent you to activate your <span style="color:lightblue;">M</span>i<span style="color: yellow;">N</span>u<span style="color: green;"><i class="fa fa-usd" aria-hidden="true"></i></span> account. </p> 
					</section>
				</div>
		</div>
	</header>
</div>
	